@font-face {
    font-family: 'Minecraft';    
    src: url('assets/Minecraft.ttf')  format('truetype'); 
  }

body{
    font-size: 12pt;
    margin: 0;
    background: black;
    text-align:center;
    font-family: "Minecraft";
}

#main{
    max-width: 75vh;
    margin: auto;
}

h1{
    color: #ffff21;
    font-family: "Minecraft";
    /*width: 60%;*/
    float: left;
    padding-top: 8px;
}

span{
    color: #0bddca;
}

.btn{
  display: inline-block;
  border: 2px solid #08B0A1;
  color: white;
  font-family: 'Audiowide', cursive;
  font-size: 21px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-color: #0BDDCA;
  border-radius: 5px;
  transition: 0.5s;
  opacity: 0.8;
  vertical-align: middle;
}

.btn:hover {
    transform: scale(1.5) rotate(2deg);
    opacity: 1;
  }

#puntaje{
    float: left;
    font-family: "Minecraft";
    font-size: 2em;
    padding-top: 30px;
    color: white;
    text-align: left;
    width: 23%;
}

#canvas{
    display: inline;
    text-align:center;
    margin: 10px;
    /*position: absolute;
    top: 10%;
    left: 31%;*/
}

#vidas{
    text-align: left;
    position: absolute;    
    top:90%;    
}

#vidas img{
    width: 2em;
    padding: 10px;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

#volumen {
    float: right;
    margin-top: 20px;
    background-image: url('assets/sound_on.png');
    background-repeat: no-repeat;
    background-size: 48px 48px;
    width: 48px;
    height: 48px;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}


#game-over {
    display: none;
    text-align: center;
    padding-top: 15%;
    z-index: 1;
    width: 700px;
    height: 570px;
    position: absolute;
    background-color: #000c;
    top: 0;
  }
  
  #game-over h2{
    color: white;
    font-style: normal;
    display: inline-block;
  }

  #game-over p{
    color: white;
  }

  #game-over a{
    color: #0bddca;
    text-decoration: none;
  }
  
  #game-over .button{
    margin-top: 20px;
  }
  